<div class="container-sm">
  <div class="row justify-content-between align-items-center">
    <p class="col-4 pt-3">Total calories: {{getCalories()}}</p>
    <a [routerLink]="['/']" class="btn btn-primary mr-5">Add new meal</a>
  </div>

  <div *ngIf="!isFetching;else isFetchingSpinner" class="list-group">
    <div class="list-group-item list-group-item-action" *ngFor="let meal of meals">
      <app-meal [meal]="meal"></app-meal>
    </div>
  </div>
  <ng-template #isFetchingSpinner>
      <span class="spinner-border">
        <span class="sr-only">Loading...</span>
      </span>
  </ng-template>
</div>
