<div class="card-body row">
  <div class="col-7">
    <p>{{ meal.mealTime }}</p>
    <p>{{ meal.description }}</p>
  </div>
  <div class="col-3 align-self-center">
    {{ meal.kcal }} kcal
  </div>
  <div class="col-2">
    <a [routerLink]="['meals/',meal.id,'edit']" class="btn btn-primary">Edit</a>
    <button class="btn btn-danger" (click)="onRemove(meal.id)">
      <span *ngIf="!isRemoving;else isRemovingSpinner">Delete</span>
      <ng-template #isRemovingSpinner>
      <span class="spinner-border">
        <span class="sr-only">Loading...</span>
      </span>
      </ng-template>
    </button>
  </div>
</div>
